@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; margin: 0;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.view-content{
    min-height: 100vh;
}

footer{
    background-color: #3C4048;
}
