<mat-toolbar color="primary">
    <div class="col-2">
        <img src="../../../../assets/images/Navigation_Logo.png" alt="Logo Zauberer Navigation" class="navigation-img">
        <a routerLink="/" class="p-3">CreditWizard</a>
    </div>
    <div class="navigation-items-div col-9">
        <ul class="navigation-items">
            <li>
                <a routerLink="/semester" routerLinkActive="active" class="p-3">Semester</a>
            </li>
        </ul>
    </div>
    <div class="navigation-user-div col-1">
        <a routerLink="/">Login</a>
    </div>
  </mat-toolbar>
