<div>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    class="expansion-panel"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Semester {{ item.semesterDto?.number }} -
        {{ item.semesterTimeSlotDto?.timeslot }}
      </mat-panel-title>
      <mat-panel-description class="panel-desc">
        <div class="col-6">
          <p class="d-inline">Semester Abgeschlossen:</p>
          <mat-icon *ngIf="item.completed" matTooltip="Ja" class="middle">check_box</mat-icon>
          <mat-icon *ngIf="!item.completed" matTooltip="Nein" class="middle"
            >indeterminate_check_box</mat-icon
          >
        </div>
        <div class="col-6">
          Anz. Etcs: {{ currentEtcsPoints }}*/{{ totalEtcsPoints }}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-12" *ngIf="item.semesterPlannerModulDtos?.length">
        <table class="table">
          <thead>
            <tr>
              <th class="col-4">Modul</th>
              <th class="col-2">Abkürzung</th>
              <th class="col-2">Für Abschluss notwendig</th>
              <th class="col-1">ETCs Punkte</th>
              <th class="col-2">Note</th>
              <th class="col-1">Bestanden</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of item.semesterPlannerModulDtos">
              <td
                (click)="openModulInformationDialog(row.modulId)"
                class="name"
              >
                {{ row.modulDto?.name }}
              </td>
              <td>{{ row.modulDto?.abbreviation }}</td>
              <td>
                <mat-icon
                  *ngIf="isModulRequiredForDegree(row)"
                  matTooltip="Ja"
                  matTooltipPosition="right"
                  >check_box</mat-icon
                >
                <mat-icon
                  *ngIf="!isModulRequiredForDegree(row)"
                  matTooltip="Nein"
                  matTooltipPosition="right"
                  >indeterminate_check_box</mat-icon
                >
              </td>
              <td>{{ row.modulDto?.etcsPoints }}</td>
              <td>{{ row.grade }}</td>
              <td class="text-left">
                <mat-icon
                  *ngIf="row.grade >= 4"
                  matTooltip="Ja"
                  matTooltipPosition="right"
                  class="passed"
                  >check_box</mat-icon
                >
                <mat-icon
                  *ngIf="row.grade < 4 && row.grade != undefined"
                  matTooltip="Nein"
                  matTooltipPosition="right"
                  class="failed"
                  >indeterminate_check_box</mat-icon
                >
                <mat-icon
                  *ngIf="row.grade == undefined"
                  matTooltip="Keine Note vorhanden"
                  matTooltipPosition="right"
                  >check_box_outline_blank</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!item.semesterPlannerModulDtos?.length">
        <app-warning [title]="'Keine Module erfasst'" [message]="'Für dieses Semester sind keine Module erfasst'"></app-warning>  
      </div>
    </div>
    <div
      class="disclaimer"
      matTooltip="Sofern das Semester noch nicht abgeschlossen ist, sind die errechneten ETCs Punkte nur eine vorübergehende Zusammenrechnung. Daher sind diese auch nnocht auf der linken Seite auf de Dashboard ersichtlich."
    >
      *Disclaimer ECTs Punkte
    </div>
    <div class="actions float-right">
      <button mat-raised-button color="primary" (click)="openEditFormDialog()">
        <mat-icon>edit</mat-icon>Bearbeiten
      </button>
      <button mat-raised-button color="accent" (click)="openDeleteDialog()">
        <mat-icon>delete</mat-icon>Löschen
      </button>
    </div>
  </mat-expansion-panel>
</div>
