<div class="container footer-container" >
  <div class="row">
    <div class="col-4">
      <h4>Useful Links</h4>
      <ul>
        <li><a href="https://www.bfh.ch/en/">Berner Fachhochschule</a></li>
        <li><a href="https://www.scribbr.ch/studium-ch/ects-punkte/">Was ist ein ECTS Punkt?</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h4></h4>
      <ul>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="col-4">
      <h4>About</h4>
      <p>Dieses Projekt ist im Rahmen vom Modul WSEG im Studiengang BSC Wirtschaftsinformatik erarbeitet worden. Die Applikation dient als PoC für einen ECTS-Rechner</p>
      <p>© Gruppe 4 - Sansibar</p>
    </div>
  </div>
 </div>
