<div class="split left">
    <div class="centered">
        <div class="text-center">
            <h1>Login to CreditWizard</h1>
            <p>Verwalte deine ETCS Credits mit dem CreditWizard</p>
        </div>
        <form class="w-100" [formGroup]="formGroup" (ngSubmit)="loginUser()">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>E-Mail Adresse</mat-label>
                <input matInput formControlName="username" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Passwort</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <div class="float-right text-upper">
                <button mat-raised-button type="submit" color="accent">Einloggen</button>
            </div>
        </form>
    </div>
</div>

<div class="split right low-z-index">
    <img src="../../../assets/images/Login_Screen.jpg" />
</div>